.logo6{
 align-items: center;
 margin-left: -260px;
 border-radius: 100px;
}

.aaf{
    color: white;
    margin-left: -780px;
    padding-top: 10px;
}

.logout{
    margin-left: 30px;
}

.card-header{
    text-align: center;
}
